In [1]:
# setup - installing guidebox
!pip install guidebox

Requirement already satisfied: guidebox in /opt/conda/lib/python3.7/site-packages (1.0.3)
Requirement already satisfied: requests in /opt/conda/lib/python3.7/site-packages (from guidebox) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests->guidebox) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests->guidebox) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests->guidebox) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests->guidebox) (2019.6.16)

In [2]:
# setup - importing programs by alphabetical order
import csv
import guidebox
import json
import numpy as np
import pandas as pd
import requests
import warnings
warnings.filterwarnings('ignore')

In [3]:
# importing cvs file to get list of two-letter country codes
dic = {}
with open('wikipedia-iso-country-codes.csv') as f: # opening the file
    file = csv.DictReader(f, delimiter=',')
    for line in file:
        dic[line['English short name lower case']] = line['Alpha-2 code']
        
# set region
print('Enter the country where you are currently streaming or watching television.')
country = input('Where are you watching? ') # user can selection a region
try:
    dic[country] # if the user entered a valid region, then there should be a corresponding key-value pair
    guidebox.region = "%s" % (dic[country]) # setting the matching value - the two-letter country code - as the region
    print('The region is set as: %s' % (guidebox.region))
except KeyError:
    print('That is not a valid region. Please try again.')

Enter the country where you are currently streaming or watching television.
Where are you watching? United States
The region is set as: US

In [4]:
#api key
guidebox.api_key = 'b6b51fbc578321cbd4966880cbce6ea9537a9ce4'

In [26]:
# example request - movies and only 3 results
# guidebox outputs do not need to be de-serialized because they are already in .json format
# results are listed by popularity
movies = guidebox.Movie.list(limit=10) 

# extracting data from variable movies to put into a legible format 
# initilazing variables
data = {}
titles = []
ratings = []
release_dates = []
theaters = []
i = 0

#for loop to read through the json object and assign words to lists
for i in range(0,10):
    titles.append(movies['results'][i]['original_title'])
    ratings.append(movies['results'][i]['rating'])
    release_dates.append(movies['results'][i]['release_date'])
    theaters.append(movies['results'][i]['in_theaters'])
    i += 1

#creating key-value pairs
data = {'Titiles': titles, 'Rating': ratings, 'Release Date': release_dates, 'Still in Theaters?': theaters}

#creating a dataframe and printing the dataframe
data_df = pd.DataFrame(data)
data_df

                         Titiles Rating Release Date  Still in Theaters?
0                   The Irishman     NR   2019-11-01                True
1  Once Upon a Time in Hollywood      R   2019-07-25                True
2                   Ready or Not      R   2019-08-21               False
3                       Hustlers     NR   2019-09-12                True
4                          Klaus     NR   2019-11-15               False
5                         Frozen     PG   2013-11-27               False
6    The Knight Before Christmas     NR   2019-11-21               False
7                It: Chapter Two      R   2019-09-04                True
8                       The King     NR   2019-10-11               False
9               Angel Has Fallen      R   2019-08-21               False

In [28]:
# example request - shows from a specific channel and only 10 results
# this function would be used in conjunction with the TV DB API
channel = input('What channel would you like to view? ') # user enters channel name
shows = guidebox.Show.list(channel=channel, limit=10)

data2 = {}
titles2 = []
id = []
i = 0

#for loop to read through the json object and assign words to lists
for i in range(0,10):
    titles2.append(shows['results'][i]['title'])
    id.append(shows['results'][i]['id'])
    i += 1
    
#creating key-value pairs
data2 = {'Titles': titles2, 'Show ID': id}

#creating a dataframe and printing the dataframe
data_df2 = pd.DataFrame(data2)
data_df2

What channel would you like to view? mtv

                    Titles  Show ID
0           That '70s Show     1253
1                Teen Wolf     4477
2  The Shannara Chronicles    32465
3                   Scream    15156
4                  Awkward     4473
5            The Challenge      533
6     Beavis and Butt-Head     1111
7                Faking It    17335
8              Wild 'N Out     4482
9           Ridiculousness     4479

In [56]:
# example request - retrieve a single show
show = guidebox.Show.retrieve(id=1253)
show_data = {'Title': show['title'], 'Genre': show['genres'][0]['title'], 'Synopsis': show['overview'], 
             'Channel': show['channels'][0]['name'], 'Air Date': show['air_day_of_week'], 
             'Air Time': show['air_time']}
index = [0]
show_df = pd.DataFrame(show_data, index)
show_df

,Title,Genre,Synopsis,Channel,Air Date,Air Time
0,That '70s Show,Comedy,Set in the Wisconsin suburbs of the United Sta...,MTV,Thursday,8:00 PM